<html>
<head>
  <title>Foxgami</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="#212121">

  <link rel="apple-touch-icon" href="/logo_foxgami_profile.jpg">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fetch/0.9.0/fetch.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="/client/resources/jquery.stayInWebApp.min.js"></script>
</head>
<body>
  <%- body %>

  <% if (env.production) { %>
    <script async src="/<%= env.assets.main.js %>"></script>
  <% } else { %>
    <script src="http://localhost:3000/client/main.js"></script>
  <% } %>

</body>
</html>
